:root  {
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

input:focus {
    outline-style: dashed;
    outline-color: hotpink;
}

body {
    color: black;
    background-color: #f4f4f7;
    margin: 0;
    padding: 0;   
}

.main-wrap {
    background-color:#e6e6ec;
    width: 1128px;
    margin: 0 auto;
    border: 0;
}

a {
    text-decoration: none;
    color: rgb(87, 51, 172);
}

h1 {
    text-align: center;
    font-size: 5rem;
    margin-top: 0;
    background-image: url(images/banner1.png);
    background-size: 100%;
    background-position: center;
    border: 1px solid black;
}

.section {
    margin: 10px;
    text-align: center;
}

.section div {
    width: 25%;
    background-color: #c9c9d6;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    display: inline-block;
    height: 700px;
    vertical-align: top;
}

.ad {
    width: 10%;
}

.buttons {
    text-align: center;
    margin: auto;
    width: 100%;
    float: left;
}

.button {
    box-sizing: border-box;
    background-color: #acacc0;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    font-size: 32px;
    height: 200px;
    margin-left: 1rem;
    transition: all 0.3s;
    vertical-align: top;
    width: 200px;  
}

.button::-moz-focus-inner {
    border: 0;
}

.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.info {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: column;
}

footer {
    box-sizing: border-box;
    background-color: #acacc0;
    display: block;
    height: 100px;
    margin: 0;
    padding: 10px;
    text-align: center;
    border: 1px solid grey;
}

li {
    height: 50px;
    width: 100px;
}


