:root  {
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}



input:focus {
    outline-style: dashed;
    outline-color: hotpink;
}

body {
    color: black;
    background-color: #000000;
    margin: 0;
    padding: 0;   
}

h1 {
    background-image: url(images/depresion2.jpg);
    text-align: center;
    font-size: 6rem;
    margin-top: center;
    background-position: center;
    border: 1px solid black;
    color:#a11159;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 1128px;
    height: 600px;
}

.main-wrap {
    background-color:#15c2c2c9;
    width: 1128px;
    height: auto;
    margin: 0 auto;
    border: 0;
}

a {
    text-decoration: none;
    color: rgb(213, 221, 223);
}



.section {
    margin: 10px;
    text-align: center;
}

.section div {
    width: 25%;
    background-color: #c9c9d6;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    display: inline-block;
    height: 700px;
    vertical-align: top;
}

.ad {
    width: 10%;
}

.buttons {
    text-align: center;
    margin: auto;
    width: 100%;
    float: left;
}

.info {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: column;
}

footer {
    box-sizing: border-box;
    background-color: #acacc0;
    display: block;
    height: 100px;
    margin: 0;
    padding: 10px;
    text-align: center;
    border: 1px solid grey;
}

li {
    height: 50px;
    width: 100px;
}

.navbar {
      background-color: rgb(218, 18, 28);
}


#collaptext {
  color: black;
  padding: 40px;
  text-align: right;
  border: 0;
}
